@import "config";
@import "menu";

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: $gothText;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: $primary-color;
  &.lg-heading {
    font-size: 7vw;
    font-family: "Shouldve Known";
  }
  &.sm-heading {
    width: 90%;
    margin-bottom: 2rem;
    font-size: 4vw;
    padding: 0.2rem 1rem;
  }
}

a {
  color: rgb(158, 49, 49);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh + 50px);
  .icons {
    margin-top: 1rem;
    a {
      @include easeOut;
      color: rgba(lighten($secondary-color, 0.3), 1);
      padding: 0.4rem;
      &:hover {
        @include ease;
        @include mistyText;
      }
    }
  }

  &#home {
    overflow: hidden;
    position: relative;
  }
}

.about-info {
  width: 95%;
  font-size: 2.5vh;
  color: $primary-color;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bio bio bioimage"
    "worktitle worktitle worktitle"
    "job1 job1 job1";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    height: auto;
    width: 34vw;
    opacity: 0.7;
    margin: auto;
  }

  .bio {
    h3 {
      @include gothBackground();
      font-family: $gothText;
      font-size: 3vw;
      float: left;
      margin-right: 20px;
    }
    p {
      font-size: 2.8vw;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    grid-area: bio;
  }

  .work-title {
    grid-area: worktitle;
    text-align: center;
    font-family: "Mortified Drip";
    font-size: 6vw;
    letter-spacing: 10px;
    color: $primary-color;
    border-top: 2px solid darken($primary-color, 20);
    padding: 20px;
  }

  .job {
    @include gothBackground();
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 30px;
    h3 {
      font-size: 2.8vw;
      letter-spacing: 3px;
      color: $secondary-color;
      text-shadow: 1.5px 1.5px 4px #3c00ff;
    }
    h6 {
      font-size: 1.8vw;
    }
    p {
      font-size: 1.8vw;
    }
  }
  .job-1 {
    grid-area: job1;
    a {
      color: rgb(205, 230, 229);
    }
    .captate-logo {
      height: auto;
      width: 10vw;
    }
    .captate-model {
      height: auto;
      width: 20vw;
      float: right;
    }
  }
}

.projects {
  display: inline;

  .item {
    padding: 35px;
  }

  img {
    @include easeOut;
    @include mistyBoxBorder;
    width: 100%;
    min-height: 150px;
    height: auto;

    // &:hover {
    //   @include easeOut;
    //   opacity: 0.5;
    // }
  }
}

// Button Styles
.btn {
  @include easeOut;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
  font-size: 4vw;
  color: $secondary-color;

  &:hover {
    @include ease;
    @include mistyText;
  }
}

.resume {
  .my-resume {
    width: 100%;
    height: 100%;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, $amount: 10);
  height: 50px;
}

@import "mobile";
